@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


h1 {
  font-size: 100px;
  margin-top: 5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#inputs {
  text-align: center;
}

#search-button {
  background-color: #FFFFFF;
  border: solid 2px #ffb821;
  border-radius: 5%;
  color: #074bba;
  height: 20px;
  transition-duration: 0.2s;
}
#search-button:hover {
  background-color: #ffb821;
  color: #FFFFFF;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-top: 5%;
  text-align: center;
}
