@import url('https://fonts.googleapis.com/css?family=Gugi');


#face {
  font-family: sans-serif;
  font-size: 15vw;
  margin-top: 5%;
  text-align: center;
}

footer {
  font-family: "gugi", cursive;
  text-align: center;
}

#inputs {
  text-align: center;
}

#search-button {
  background-color: #FFFFFF;
  border: solid 2px #074bba;
  border-radius: 5%;
  color: #074bba;
  height: 20px;
  transition-duration: 0.2s;
}
#search-button:hover {
  background-color: #074bba;
  color: #FFFFFF;
}

@media only screen and (min-width: 739px) {
  #face {
    font-size: 111.44999694824219px;
  }
}
